{% extends 'base.html' %}
{% block title %} My Profile {% endblock title %}
{% block content %}

    <!-- Banner Starts Here -->
    <div class="heading-page header-text">
        <section class="page-heading">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div class="text-content">
                  <h4>Profile</h4>
                  <h2 style="text-transform: none;">{{account.username}}'s profile</h2>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      
      <!-- Banner Ends Here -->
<section class="profile grid-system">
    <div class="container-fluid">
        <div class="row py-5">
            <div class="col-md-4">
                <div class="text-center">
                    <img class=" rounded rounded-circle profile-picture " src="{{account.get_profile_pic}}" alt="">
                    <ul class="text-center py-3">
                        <li class="py-2">
                            <span>Posts: <strong>{{account.user_blogs.count}}</strong></span>
                        </li>
                        <li class="py-2">
                            <span>Follwers:<strong>{{account.user_followers.count}}</strong></span>
                        </li>
                        <li class="py-2">
                            <span>following:<strong>{{account.user_follows.count}}</strong></span>
                        </li>
                        <li class="py-2">
                            {% if following %}
                            <a href="{% url 'follow_or_unfolow' account.id %}" class="btn btn-primary">Unfollow</a>
                            {% if muted %}
                            <a href="{% url 'mute_or_unmute' account.id %}" class="btn btn-primary">Unmute</a>
                            {% else %}
                            <a href="{% url 'mute_or_unmute' account.id %}" class="btn btn-primary">Mute</a>
                            {% endif %}
                            {% else %}
                            <a href="{% url 'follow_or_unfolow' account.id %}" class="btn btn-primary">Follow</a>
                            {% endif %}
                        </li>
                    </ul>
                </div>
                <div class="text-center pt-2 pb-1">
                    
                    </div>
            </div>
            <ul class="list-group list-group-flush">
                {% for blog in account.user_blogs.all %}
                <li class="list-group-item py-3">
                    <a href="{% url 'blog_details' blog.slug %}">
                        <p>{{ blog.title}}</p>
                        <p>{{blog.date}}</p>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>
{% endblock content %}